---
title: Project Management Template
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://fonts.googleapis.com/css2?family=Patua+One&family=Ubuntu:ital,wght@0,400;1,300&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="{{ '/css/styles.css' | url }}" />
        <title>{{ title }}</title>
    </head>
    <body>
        <article>
            <header>
                {% include "header.njk" %}
            </header>
            <main>
                {{ content | safe }}
            </main>
            <footer>
                {% include "footer.njk" %}
            </footer>
        </article>
    </body>
</html>
